.header-apps {
  color: white;
  padding: 10px 10px;

  & span {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    background-color: #ec008c;
  }

  & h2 {
    font-size: 3em;
  }

  & button {
    background-color: #ec008c;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;

    &:hover {
      outline: transparent;
      transition: 0.2s background-color;
      background-color: #ec008ebb;
    }
  }
}

.header-info {
  display: none;
}

@media screen and (min-width: 860px) {
  .header-info {
    display: flex;
    margin-top: 100px;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;

    & .header-info__item--third {
      border-left: 1px solid white;
      border-right: 1px solid white;
      padding-left: 30px;
    }

    & .header-info__item--first {
      padding-left: 30px;
      border-left: 1px solid white;
    }

    & ul {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;

      & li {
        padding: 0 20px;

        &:first-child {
          text-align: right;
        }

        & > p {
          margin-bottom: 0;
        }
      }
    }

    & p {
      color: white;
    }

    & span {
      color: #ec008c;
    }
  }
}
