.main-footer {
  & ul {
    display: flex;
  }

  & span {
    color: gray;
    margin-left: 15px;
  }

  @media screen and (max-width: 576px) {
    & ul {
      display: block;
      padding-left: 10px;
    }
  }

  & img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  & h3 {
    margin-top: 0;
    color: #ec008c;
  }

  & p {
    font-size: 1em;
    line-height: 32px;
  }

  @media screen and (min-width: 577px) {
    & img {
      width: 350px;
      height: 350px;
    }
  }
}
